

{{questionIDs[0]}}
<div *ngIf="currentQuestionIndex===-1" class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="card align-center">
      <div class="card-header"> Welcome to Exam </div>
      <div class="card-body"> <button class="btn btn-primary" (click)="showQuestion(0)"> Start Exam1 </button> </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

<div *ngIf="!(currentQuestionIndex===-1)" class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="card align-center">
      <div class="card-header"> Welcome to Exam </div>    
      <div class="card-body"> 
        {{question.q}}
        <button class="btn btn-primary" (click)="showQuestion(currentQuestionIndex-1)"> Prev </button> <br>
        <button class="btn btn-primary" (click)="showQuestion(currentQuestionIndex+1)"> Next </button> <br>
        <button class="btn btn-primary" (click)="showQuestion(currentQuestionIndex+1)"> Submit </button> <br>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>






